# ML

# GPU CUDA Support
torch

# CPU only, uncomment this line and comment "torch" above if you cant afford a 4090TI
#torch  --extra-index-url https://download.pytorch.org/whl/cpu

# For Natural language processing
sentencepiece
transformers
sacremoses
nltk # For splitting sentences and storing in memory

# Web
pydantic
fastapi
uvicorn
