# ML

# GPU CUDA Support (keep this uncommented) 
torch

# CPU only, uncomment this line and comment "torch" above.
#torch  --extra-index-url https://download.pytorch.org/whl/cpu

sentencepiece
transformers


# Web
pydantic
fastapi
uvicorn
